body{
    background-color: #1f1f1f;
    color: white;
}


form{
    background-color: #181818;
    border-radius: 18px;
    width: 600px;
    padding: 20px;
    border: 3px, solid, #2b2b2b;
}

label{
    display: block;
}

input{
    width: 100%;
    padding: 4px;
    border: 1px, solid, rgb(255, 0, 0);
    border-radius: 5px;
}

input[type="submit"]{
    background-color: #1f1f1f;
    border: 3px, solid, #2b2b2b;
    color: white;
    margin-top: 15px;
    width: 50%;
}

input[type="submit"]:hover{
    background-color: #181818;
    cursor: pointer;
}








